extends layout

block content
    div(class="login_form_wrapper")
        h1= title

        form(class="login_form" action="/signup" method="POST")
            p Username:
            input(type="text" name="username" placeholder="")
            p Password:
            input(type="password" name="password" placeholder="")
            br
            br
            input(type="submit", value="Submit")

        br
        p "Captcha by się przydała"